<!DOCTYPE html>
<ion-view name="events" class="events">
  <ion-nav-bar class="bar-energized" align-title="center">
    <ion-nav-buttons side="left">
      <a nav-direction="back" ng-click="goBack()">
        <button class="button icon-left button-clear ion-ios-arrow-left">
          Back
        </button>
      </a>
    </ion-nav-buttons>

  <ion-nav-title>
    <univision-logo></univision-logo>
  </ion-nav-title>

  </ion-nav-bar>

  <ion-content class="has-header has-footer" has-bouncing="true">
    <ion-list can-swipe="listCanSwipe" show-delete="shouldShowDelete">
      <ion-item class="list" collection-repeat="event in events">
        <div class="card">

          <a ng-click="schedule(event)">
            <div class="item item-avatar">
              <i class="icon ion-android-time"></i>
              <h2>Start : {{event.start | date:'HH:mm a'}}</h2>
              <p>
                End: {{event.end | date:'HH:mm a'}}
              </p>
            </div>
          </a>

          <a href="#/events/{{event.id}}">
            <div class="item">
              <h2>{{event.name | limitTo : 27 : 0}}</h2>
              <p>
                {{event.desc | limitTo : 27 : 0}}
              </p>
            </div>
          </a>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
