<!DOCTYPE html>
<ion-view name="event" class="event" title="{{event.name}}">
  <ion-nav-bar class="bar-energized" align-title="center">
    <ion-nav-buttons side="left">
      <a nav-direction="back" ng-click="goBack()">
        <button class="button icon-left button-clear ion-ios-arrow-left">
          Back
        </button>
      </a>
    </ion-nav-buttons>

    <ion-nav-title>
      <i class="icon ion-play"></i> {{event.start | date:'HH:mm a'}}
    </ion-nav-title>


    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios-bell" ng-click="schedule({{event}})">
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="has-header has-footer" padding="true">

    <div class="card">
      <h3 class="event-title">
        {{event.name}}
      </h3>
      <p class="event-description">
        {{event.desc}}
      </p>
    </div>

    <div class="card">
      <ion-slide-box>
        <ion-slide ng-repeat="ei in event.img">
          <img ng-src="img/eimg/{{ei}}.png" alt="Event #{{$index}}" />
        </ion-slide>
      </ion-slide-box>

    </div>
  </ion-content>

</ion-view>
