<!DOCTYPE html>
<ion-view name="event" class="event">

  <ion-nav-buttons side="left">
    <button class="button icon-left button-clear ion-ios-arrow-left" ng-click="goBack()">
      Back
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    {{::event.start | date:'HH:mm a'}}
  </ion-nav-title>


  <ion-nav-buttons side="right">
    <button ng-class="event.reminder ? 'button button-icon icon ion-ios-star scheduled' : 'button button-icon icon ion-ios-star-outline'" ng-click="schedule({{event}})">
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header xcentre" has-bouncing="true" padding="true">

    <div class="card">
      <h3 class="event-title">
        {{::event.name}}
      </h3>
      <p class="event-description">
        {{::event.desc}}
      </p>
    </div>

    <div class="card">
      <ion-slide-box show-pager="false">
        <!-- https://googledrive.com/host/0B6cBGXlREHi2flp4RU16VlVFNWdtZ2owQklTTlQzREU3dUZZUUF6c2lRZDYzTG1qaHc5UUE/x.jpg | png
          -->
        <!-- Single Image || Using event id -->

        <!-- <ion-slide>
          <img ng-src="https://googledrive.com/host/0B6cBGXlREHi2flp4RU16VlVFNWdtZ2owQklTTlQzREU3dUZZUUF6c2lRZDYzTG1qaHc5UUE/{{event.id}}-min.jpg" alt="Loading..." imageonload="spinner='true'" />
          <br>
          <ion-spinner class="center spinner-energized" icon="lines" ng-hide="spinner">
          </ion-spinner>
        </ion-slide> -->

        <!-- Multiple images || Using img arrays -->

          <ion-slide ng-repeat="ei in event.img">
            <img ng-src="{{getURL(ei)}}" alt="Loading..."
          imageonload="spinner='true'" />
            <br>
            <ion-spinner class="center spinner-energized" icon="lines" ng-hide="spinner">
          </ion-spinner>
        </ion-slide>


      </ion-slide-box>

    </div>
    <div class="signature">
      <h1>
        jabSquared
      </h1>
    </div>
  </ion-content>

</ion-view>
