.boothmap {
  .map {
    height: 54vh;
  }

.card {
    text-align: center;
    margin: 9px auto;
  }

.card * {
    padding: 3.6px;
    color: rgba(254,252,252,1);
    text-align: center;
  }

  .card {
    h3,
    h4,
    h5,
    h6 {

      // margin-top: 18px;
      text-align: center;
    }

    p {
      padding: 9px;
      text-align: center;
      color: rgba(254,252,252,1);
      font-size: 1.08em;
    }

    .item-divider {
      background: rgba(0,0,0,0.27);

      // text-align: center;
    }

    img {

      max-height: 45vh;
      // width: 100%;
      max-width: 90%;
      // padding: 3.6px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
      color: white;
    }
  }
}
