.events {
  ion-content {
    background-image: url(/img/needle.png);
  }

  a > div.row {
    border-bottom: 9px solid white;
  }

  .item-avatar {
    i:first-child,
    .item-img {
      position: absolute;
      top: 16px;
      left: 16px;
      font-size: 36px;
      max-width: 40px;
      max-height: 40px;
      width: 100%;
      border-radius: 4px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ion-item {
    color: RGBA(254,252,252,255);
    // background-color: RGBA(183,39,12,255);
    border-color: RGBA(183,39,12,255);
  }

  .item{
    background-color: rgba(183,39,12,0.63);
    padding-right: 0;
    color: RGBA(254,252,252,255);
  }

  .item h2 {
    font-family: 'blair_bold';
    color: RGBA(254,252,252,255);
    // margin-bottom: 2px;
  }

 .item p {
    font-family: 'blair_bold';
    color: RGBA(225,225,225,255);
  }
}
