.event-list{

}

/* event link styling */

.event-link {
  color: inherit;
  text-decoration: none;
}


/* single event page styling */

.event-title {
  padding-top: .4em;
  text-align: center;
}

.event-description {
  margin: 1.3em 1em;
}
