.event {
  ion-content {
    background: url("../img/bg/home0.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    // background-image: url(../img/eimg/event-bg.png);
    // background-color: transparent;
  }

  .card {
     margin: 0 auto;
    text-align: center;
  }

  /* single event page styling */
  .event-title {
    font-family: 'blair_bold';
    padding: 0.45em;
    text-align: center;
    color: white;
  }

  .event-description {
    font-family: 'blair_med';
    margin: 1.3em 1em;
    color: rgba(225,225,225,1);
  }

  .card img {
    height: 45vh;
    width: 100%;
    padding: 3.6px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;

    // -webkit-box-shadow: 9px 9px 9px -9px rgba(0,0,0,0.90);
    // -moz-box-shadow: 9px 9px 9px -9px rgba(0,0,0,0.90);
    // box-shadow: 9px 9px 9px -9px rgba(0,0,0,0.90);
  }

}
