.events {
  ion-content {
    background: url(../img/bg/needle_test.png) no-repeat center center fixed;
    background-color:RGBA(212,178,54,255);
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // background-size: cover;
  }

a > div.row {
    border-bottom: 9px solid white;
  }

.item-avatar {
    i:first-child,
    .item-img {
      position: absolute;
      top: 16px;
      left: 16px;
      font-size: 36px;
      max-width: 40px;
      max-height: 40px;
      width: 100%;
      border-radius: 4px;
    }
  }

a {
    color: inherit;
    text-decoration: none;
  }

ion-item {
    color: RGBA(254,252,252,255);

    // background-color: RGBA(183,39,12,255);
    // border-color: RGBA(183,39,12,255);
    border-color: transparent;
  }

.item {
    background-color: rgba(183,39,12,0.9);
    padding-right: 0;
    color: RGBA(254,252,252,255);
  }

.list {
  background-color: transparent;
}

.card {
  background-color: transparent;
}

.item h2 {
    font-family: 'blair_bold';
    color: RGBA(254,252,252,255);

    // margin-bottom: 2px;
  }

.item p {
    font-family: 'blair_bold';
    font-size: 0.72em;
    color: RGBA(225,225,225,255);
  }
}
