/* Header */

* {
  font-family: 'blair_med';
  box-shadow: none !important;
}

.bold {
  font-family: 'blair_bold';
}

.logo {
  clear: both;
  width: fixed;
  height: 36px;
  width: 36vw;
  max-width: 135px;
  margin-top: 4.5px;
}

.unilogo {
  clear: both;
  width: fixed;
  margin-top: 9px;
}

/* Popup button styling */

.oneline .popup {
  width: 70%;
}

.oneline .popup-body {
  text-align: center;
}

.oneline .popup .popup-buttons {
  display: inline-block;
}

.oneline .popup .popup-buttons .button {
  margin-bottom: .4em;
  width: 100%;
}

ion-content {
  background-color:rgba(212,178,54,1);
}

.card {
  -webkit-border-radius: 3.6px;
  -moz-border-radius: 3.6px;
  border-radius: 3.6px;
  background-color: rgba(183,39,12,0.81);
  max-width: 450px;

}

.map .leaflet-container {
  -webkit-border-radius: 3.6px;
  -moz-border-radius: 3.6px;
  border-radius: 3.6px;
}

.bar.bar-header,
.bar.bar-footer{
  transition: 0.45s all linear !important;
}

.bar.bar-header.ng-hide,
.bar.bar-footer.ng-hide{
  height: 0px !important;
}

.bar.bar-header.ng-show,
.bar.bar-footer.ng-show{
  height: 0px !important;
}

.signature{
  visibility: hidden;
}

.platform-ios.platform-cordova:not(.fullscreen) .search-bar {
    margin-top: 20px;
}
