/* Header */


.logo {
  clear: both;
  width: fixed;
  height: 27px;
  margin-top: 9px;
}

ion-header-bar {
  // background-color: rgba(183,39,12,0.54) !important;
}

/* Set min height event item */

.alarm-slider {
  font-size: 2.4em;
  margin: 0 auto;
  font-weight: 800;
  text-align: center;
}

// .half {
//   color: gray;
// }

.item-icon-left .icon {
  left: 0px;
}

.item-complex .item-content, .item-radio .item-content {
  padding: 10px 49px 10px 16px;
}


/*.item {
  height: 60px;
}*/

.event-time {
  width: 81px;
  border-radius: 0px;
  display: block;
  float: left;
}

.event-time i {}

.event-time p {
  color: #fff;
  font-size: 0.45em;
  text-align: center;
  margin: 0 auto;
  line-height: 18px;
}

/* Popup button styling */

.oneline .popup {
  width: 70%;
}

.oneline .popup-body {
  text-align: center;
}

.oneline .popup .popup-buttons {
  display: inline-block;
}

.oneline .popup .popup-buttons .button {
  margin-bottom: .4em;
  width: 100%;
}
