.home {
  button {
    // background-color: rgba(183,39,12,0.81);
    // border-color: rgba(189, 65, 19, 0.45);
    min-height: 9vh;
    -webkit-border-radius: 3.6px;
    -moz-border-radius: 3.6px;
    border-radius: 3.6px;
    max-width: 450px;
    margin: 18px auto 0.9px !important;
  }

.option {
  padding-top: 9vh;
}

ion-content {
    // background: url("../img/bg/home0.jpg") no-repeat center center fixed;
    // background-size: cover;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
  }

ion-content * {
    text-align: center;
  }

.content{
  height: 81vh;
}

img {
    width: 90vw;
    max-width: 450px;
  }

.button.button-block,
  .button.button-full {
    margin-bottom: 1.8em;
    color: #fff;
  }

.raffle {
    margin: 1em auto;
    text-align: center;
  }

.raffle h3 {

    // color: #0099FF;
    // color: #fff;
    color: #093;
    font-weight: 450;
    width: 90vw;
    // text-shadow: 2px 2px 1px #001c09;
  }
  h1{
    color: transparent;
  }
}
