.home {
  button {
    min-height: 9vh;
    -webkit-border-radius: 3.6px;
    -moz-border-radius: 3.6px;
    border-radius: 3.6px;
    max-width: 450px;
    margin: 18px auto 0.9px !important;
  }

ion-content * {
    margin: 0 auto;
    text-align: center;
  }

.content {
  padding-top: 9vh;
}

.option {
    padding-top: 9vh;
  }

img {
    width: 90vw;
    max-width: 450px;
  }

.raffle {
    margin: 1em auto;
    text-align: center;
  }

.raffle h3 {

    // color: #0099FF;
    // color: #fff;
    // color: #093;
    // color: #d4b236;
    // color: #BD4113;
    color: rgba(183,39,12,0.81);
    font-weight: 450;
    width: 90vw;

    text-shadow: 2px 2px 1px #001c09;
  }
}
