.pnp {
  .map {
    height: 54vh;
  }

.card {
    margin: 9px auto;
  }

.card * {
    padding: 3.6px;
    color: rgba(254,252,252,1);
  }

.card {
    h3,
    h4,
    h5,
    h6 {
      // margin-top: 18px;
      text-align: center;
    }
  }

.card p {
    padding: 9px;
    text-align: center;
    color: rgba(254,252,252,1);
    font-size: 0.9em;
  }

.card .item-divider {
    background: rgba(0,0,0,0.27);
    text-align: center;
  }

.card .button.button-block,
  .button.button-full {
    margin-bottom: 0;
  }
}
