.pnp{
  .map{
    height: 54vh;
  }
  .card * {
    padding: 3.6px;
    font-family: 'blair_bold';
    color: rgba(254,252,252,1);
  }
  .card h3 {
    margin-top: 17px;
    text-align: center;
  }
  .card .website {
    text-align: center;
    color: black;
  }
}
