.sponsors {

.slider {
    height: 100%;
  }

.slider-slide {

    padding-left: 18vw;
    padding-right: 18vw;
  }

.slider-slide .sgroup{
  height: 100%;
  text-align: center;

}

.sgroup img {
    height: 100%;
  }

.slider-slides {
    width: 100%;
  }
}
