.sponsors {
  .slider {
    height: 100%;

    // width: 100%;
  }

.slider-slide .sgroup {
    text-align: center;
    height: 33px;
    width: 99vw;
    display: inline-block;
  }

.sgroup img {
    height: 33px;

    // width: 18vw;
    max-width: 100%;
    -webkit-border-radius: 3.6px;
    -moz-border-radius: 3.6px;
    border-radius: 3.6px;
  }

.padding {
    text-align: center;
  }

.card {
    margin: 0.9px;
    max-width: 90px;
    min-height: 45px;
    .box {
      -webkit-border-radius: 3.6px !important;
      -moz-border-radius: 3.6px;
      border-radius: 3.6px;
      background-color: white;

      // height: 63px;
      height: 9vh;
      max-height: 90px;
      max-width: 90px;
      min-height: 45px;
      min-width: 45px;
      img {

        // min-height: 100%;
        display: block;

        // margin: 0 auto;
        width: 99%;
        height: auto;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
    }
  }
}
