.sponsors {

.slider {
    height: 100%;
  }

.slider-slide {


    // padding-left: 18vw;
    // padding-right: 18vw;
  }

.slider-slide .sgroup{
  // text-align: center;
  height: 100%;
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;

}

.sgroup img {
    height: 100%;
    display: inline-block;
  }



}
