<!DOCTYPE html>

<ion-view name="boothmap" class="boothmap">

  <ion-nav-buttons side="left">
    <button class="button icon-left button-clear ion-ios-arrow-left" ng-click="goBack()">
      Regresar
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <!-- <img class="unilogo" alt="Univision" ng-src="img/main/logo-18.png" /> -->
    <span class="bold">
      vendedores
    </span>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button ng-style="iconColor" class="button icon-right ion-android-locate button-clear" ng-click="toggleGeoLocation()">
    </button>
  </ion-nav-buttons>


  <ion-content class="has-header" scroll="true" has-bouncing="true" padding="true">
    <!-- <a href="comgooglemaps://?center=40.765819,-73.975866&zoom=14&views=traffic" ,target="_blank">Click here for map</a> -->
    <div class="map" data-tap-disabled="true">
      <leaflet id="map" center="auburn" tiles="tiles" url-hash-center="yes" event-broadcast="events" defaults="defaults" maxbounds="maxbounds" markers="markers" width="100%" height="100%">
      </leaflet>
    </div>

    <!-- Instruction -->
    <div ng-if="!showCard" class="card">
      <p>
        Para <b>localizar</b> en donde esta,
        <br>presione el <i class="ion-android-locate"></i> icono a la <b>derecha</b>
      </p>
      <div class="item-divider item-text-wrap">
        <p>
          Para <b>mirar</b> a un vendedor, <i class="ion-android-compass"></i>
          <br> solo toque lo
          <br> para más detalles.
        </p>
      </div>
      <p>
        <i class="ion-pinpoint"></i> <b> Para hacer un zoom, </b>
        <br> pellizque el mapa
      </p>
    </div>

    <div ng-if="showCard" class="card">
      <h5 class="bold">
        <b>{{info.name}}</b>
      </h5>
      <!-- <div class="item-divider "> -->
        <!-- single image -->
        <!-- <img ng-src="{{getURL(info.id)}}" alt="Loading..."
        imageonload="spinner='true'" />
        <br>
        <ion-spinner class="center spinner-energized" icon="lines" ng-hide="spinner">
        </ion-spinner> -->
      </div>
      <div ng-if="showCard" class="card">

        <ion-slide-box show-pager="false">

          <ion-slide ng-repeat="vi in info.img">
            <img ng-src="{{getURL(vi)}}" alt="Loading..." imageonload="spinner='true'" />
            <br>
            <ion-spinner class="center spinner-energized" icon="lines" ng-hide="spinner">
            </ion-spinner>
          </ion-slide>
        </ion-slide-box>
      </div>
    <!-- </div> -->

    <!-- <h4>Longitude: {{long}}</h4>
    <h4>Laditude: {{lat}}</h4> -->

    <div class="signature">
      <h1>
        jabSquared
      </h1>
    </div>

  </ion-content>
</ion-view>
