<!DOCTYPE html>

<ion-view name="boothmap" title="Booth Map" class="boothmap">
  <ion-nav-back-button class="button-clear" ng-click="dissableGeoLocation()">
    <i class="ion-ios-arrow-back"></i> Back
  </ion-nav-back-button>

  <ion-nav-title>
    <i class="icon ion-location"></i> Booth
  </ion-nav-title>

  <ion-nav-buttons side="right">

    <button ng-style="iconColor" class="button icon-right ion-ios-navigate-outline button-clear" ng-click="toggleGeoLocation()">
      Locate
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header has-footer" scroll="false" has-bouncing="false" padding="true">
    <!-- <a href="comgooglemaps://?center=40.765819,-73.975866&zoom=14&views=traffic" ,target="_blank">Click here for map</a> -->
    <div class="map" data-tap-disabled="true">
      <leaflet center="auburn" tiles="tiles" url-hash-center="yes" event-broadcast="events" markers="markers" width="100%" height="100%">
      </leaflet>
    </div>

    <div class="card">
      <h3>Booth Detail: {{booth.detail}}</h3>
    </div>
    <!-- <h4>Longitude: {{long}}</h4>
  <h4>Laditude: {{lat}}</h4> -->
  </ion-content>
</ion-view>
