<!DOCTYPE html>

<ion-view name="boothmap" class="boothmap">

  <ion-nav-buttons side="left">
    <button class="button icon-left button-clear ion-ios-arrow-left" ng-click="goBack()">
      Back
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <!-- <img class="unilogo" alt="Univision" ng-src="img/main/logo-18.png" /> -->
    <span class="bold">
			Booth
		</span>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button ng-style="iconColor" class="button icon-right ion-android-locate button-clear" ng-click="toggleGeoLocation()">
    </button>
  </ion-nav-buttons>


  <ion-content class="has-header" scroll="true" has-bouncing="true" padding="true">
    <!-- <a href="comgooglemaps://?center=40.765819,-73.975866&zoom=14&views=traffic" ,target="_blank">Click here for map</a> -->
    <div class="map" data-tap-disabled="true">
      <leaflet id="map" center="auburn" tiles="tiles" url-hash-center="yes" event-broadcast="events" defaults="defaults" maxbounds="maxbounds" markers="markers" width="100%" height="100%">
      </leaflet>
    </div>

    <!-- Instruction -->
    <div ng-if="!showCard" class="card">
      <p>
        To <b>locate</b> where you are,
        <br>press the <i class="ion-android-locate"></i> icon on the <b>right</b>
      </p>
      <div class="item-divider item-text-wrap">
        <p>
          To <b>checkout</b> a booth, <i class="ion-android-compass"></i>
          <br> Touch it on the map
          <br> for more detail.
        </p>
      </div>
      <p>
        <i class="ion-pinpoint"></i> <b> To zoom in, </b>
        <br> pinch the map
      </p>
    </div>

    <div ng-if="showCard" class="card">
      <h5 class="bold">
        <b>{{info.name}}</b>
      </h5>
      <div class="item-divider item-text-wrap">
        <p>
          {{info.desc}}
        </p>
      </div>
    </div>

    <!-- <h4>Longitude: {{long}}</h4>
    <h4>Laditude: {{lat}}</h4> -->

    <div class="signature">
      <h1>
        jabSquared
      </h1>
    </div>

  </ion-content>
</ion-view>
