<!DOCTYPE html>

<ion-view name="pnp" class="pnp">

  <ion-nav-buttons side="left">
    <button class="button icon-left button-clear ion-ios-arrow-left" ng-click="goBack()">
      Back
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    Parking
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button ng-style="iconColor" class="button icon-right ion-android-locate button-clear" ng-click="toggleGeoLocation()">
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header" has-bouncing="true" padding="true">
    <div class="map" data-tap-disabled="true">
      <leaflet center="auburn" tiles="tiles" url-hash-center="yes" event-broadcast="events" height="100%" markers="markers" width="100%">
      </leaflet>
    </div>

    <div ng-if="!showCard" class="card">
      <p>
        <b> ALL </b> street parking are <br><b>FREE!</b>
      </p>
      <div class="item-divider item-text-wrap">
        <p>
          <b>
            For parking lots,<br>
          </b>
          Select a marker on the map above for more detail
        </p>
      </div>

    </div>

    <div ng-if="showCard" class="card">
      <h3>Parking Lot {{info.number}}</h3>
      <p>
        {{info.address}}
      </p>
      <button class="button button-block bold button-energized">
        Get Directions
      </button>
    </div>

    <div class="signature">
      <h1>
        jabSquared
      </h1>
    </div>

  </ion-content>
</ion-view>
