<!DOCTYPE html>

<ion-view name="pnp" class="pnp">

  <ion-nav-buttons side="left">
    <button class="button icon-left button-clear ion-ios-arrow-left" ng-click="goBack()">
      Regresar
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <!-- <img class="unilogo" alt="Univision" ng-src="img/main/logo-18.png" /> -->
    <!-- <span class="bold item-text-wrap">
      estacionamientos
    </span> -->
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button ng-style="iconColor" class="button icon-right ion-android-locate button-clear" ng-click="toggleGeoLocation()">
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header" has-bouncing="true" padding="true">
    <div class="map" data-tap-disabled="true">
      <leaflet id="map" center="auburn" tiles="tiles" url-hash-center="yes" event-broadcast="events" height="100%" markers="markers" width="100%">
      </leaflet>
    </div>

    <div ng-if="!showCard" class="card">
      <p>
        <b> TODO</b> el estacionamiento de calle es
        <br><b>GRATIS!</b>
      </p>
      <div class="item-divider item-text-wrap">
        <p>
          <b> Para lotes de estacionamiento gratis, </b>
          <br> seleccioné un marcador (<i class="ion-model-s"></i>) en el mapa
          <br> para mas detalles
        </p>
      </div>
      <p>
        Por favor de <b>NO</b> estacionarse en <b>SAFEWAY</b>
      </p>
    </div>

    <div ng-if="showCard" class="card">
      <h5 class="bold">
        lote <b>#{{info.number}}</b>
      </h5>
      <div class="item-divider item-text-wrap">
        <p>
          {{info.address}}
        </p>
        <!-- <a class="button button-block bold button-assertive" ng-href="https://maps.google.com/?q={{geoInfo.lat}},{{geoInfo.lng}}&t=m" target="_blank">
          <i class="ion-android-navigate"></i> navegar
        </a> -->
        <a class="button button-block bold button-assertive" ng-click="
        openGMap({{geoInfo}})" target="_blank">
          <i class="ion-android-navigate"></i> navegar
        </a>
      </div>
    </div>

    <div class="signature">
      <h1>
        jabSquared
      </h1>
    </div>

  </ion-content>
</ion-view>
