<!DOCTYPE html>

<ion-view name="pnp" class="pnp">

  <ion-nav-buttons side="left">
    <button class="button icon-left button-clear ion-ios-arrow-left" ng-click="goBack()">
      Back
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    Parking
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button ng-style="iconColor" class="button icon-right ion-android-locate button-clear" ng-click="toggleGeoLocation()">
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header" has-bouncing="true" padding="true">
    <div class="map" data-tap-disabled="true">
      <leaflet center="auburn" tiles="tiles" url-hash-center="yes" event-broadcast="events" height="100%" markers="markers" width="100%">
      </leaflet>
    </div>

    <div ng-if="!showCard" class="card">
      <p>
        <b> ALL </b> street parking is
        <br><b>FREE!</b>
      </p>
      <div class="item-divider item-text-wrap">
        <p>
          <b> For free parking lots, </b>
            <br> Select a marker on the map above for more details
        </p>
      </div>
    </div>

    <div ng-if="showCard" class="card">
      <h5 class="bold">
        Parking Lot <b>#{{info.number}}</b>
      </h5>
      <div class="item-divider item-text-wrap">
        <p>
          {{info.address}}
        </p>
          <a class="button button-block bold button-assertive" ng-href="https://maps.google.com/?q={{info.address}}&t=m">
            Get Directions
          </a>
      </div>
    </div>

    <div class="signature">
      <h1>
        jabSquared
      </h1>
    </div>

  </ion-content>
</ion-view>
