<!DOCTYPE html>
<ion-view name="home" class="home" hide-nav-bar="true">

  <ion-content padding="true">
    <img alt="Univision" ng-src="img/main/header.png"/>

    <div>
      <button class="button button-block button-assertive" ng-click="navigate('events')">
        Event Schedule
      </button>

      <button class="button button-block button-assertive" ng-click="navigate('boothmap')">
        Event Map
      </button>

      <button class="button button-block button-assertive" ng-click="navigate('pnp')">
        Parking Map
      </button>
    </div>
  </ion-content>
</ion-view>
