<div class="list">

  <div class="item item-divider">
    Event Schedule
  </div>

  <div class="time">
    <p>10:00am</p>
    <p>10:15am</p>
    <p>10:30am</p>
    <p>10:45am</p>
    <p>11:00am</p>
    <p>11:15am</p>
    <p>11:30am</p>
    <p>11:45am</p>
    <p>12:00pm</p>
    <p>12:15m</p>
    <p>12:30pm</p>
    <p>12:45pm</p>
    <p>1:00pm</p>
    <p>1:15m</p>
    <p>1:30pm</p>
    <p>1:45pm</p>
    <p>2:00pm</p>
    <p>2:15m</p>
    <p>2:30pm</p>
    <p>2:45pm</p>
    <p>3:00pm</p>
    <p>3:15m</p>
    <p>3:30pm</p>
    <p>3:45pm</p>
    <p>4:00pm</p>
  </div>

  <div class="events">
    <a class="item slot" href="#">
            Breakfast
          </a>
    <a class="item slot" href="#">
            Meet and Greet
          </a>
    <a class="item slot" href="#">
            Speaker 1
          </a>
    <a class="item slot" href="#">
            Music Performance 1
          </a>
    <a class="item slot" href="#">
            Speaker 2
          </a>
    <a class="item slot" href="#">
            Break
          </a>
    <a class="item slot" href="#">
            Speaker 3
          </a>
    <a class="item slot" href="#">
            Music Performance 2
          </a>
    <a class="item slot" href="#">
            Closing Ceremony
          </a>
  </div>
</div>
