<!DOCTYPE html>
<ion-view class="sponsors">

	<ion-nav-buttons side="left">
		<button class="button icon-left button-clear ion-ios-arrow-left" ng-click="goBack()">
			Back
		</button>
	</ion-nav-buttons>

	<ion-nav-title>
		<!-- <img class="unilogo" alt="Univision" ng-src="img/main/logo-18.png" /> -->
		<span class="bold">
			Sponsors
		</span>
		<i class="ion-thumbsup"></i>
	</ion-nav-title>


	<ion-content class="has-header" has-bouncing="true" padding="true">

		<div class="sblock">

			<div class="row" ng-repeat="i in img" ng-if="$index % 4 === 0">
				<div class="col col-25 card" ng-if="$index < img.length">
					<div class="box">
						<!-- Put image into a white box, with rounded corner etc.. -->
						<img ng-src="{{::img[$index]}}" />
					</div>
				</div>

				<div class="col col-25 card" ng-if="$index + 1 < img.length">
					<div class="box">

						<img ng-src="{{::img[$index + 1]}}" />
					</div>
				</div>

				<div class="col col-25 card" ng-if="$index + 2 < img.length">
					<div class="box">
						<img ng-src="{{::img[$index + 2]}}" />
					</div>
				</div>

				<div class="col col-25 card" ng-if="$index + 3 < img.length">
					<div class="box">
						<img ng-src="{{::img[$index + 3]}}" />
					</div>
				</div>
			</div>
		</div>

	</ion-content>

</ion-view>
