<!DOCTYPE html>

<ion-view name="boothmap" title="Booth">
  <ion-nav-title>
    <i class="icon ion-location"></i> Booth Detail
  </ion-nav-title>

  <ion-content animation="slide-right-left" scroll="false">
    <!-- <a href="comgooglemaps://?center=40.765819,-73.975866&zoom=14&views=traffic" ,target="_blank">Click here for map</a> -->
    <div data-tap-disabled="true">
      <leaflet ng-if="!findMe" tiles="tiles" center="auburn" event-broadcast="events" height="480px" markers="markers" width="100vw">
      </leaflet>

      <leaflet ng-if="findMe" tiles="tiles" center="center" event-broadcast="events" height="480px" markers="markers" width="100vw">
      </leaflet>

    </div>

    <li class="item item-toggle">
     Find me
     <label class="toggle toggle-positive">
       <input type="checkbox" ng-click="toggleGeoLocation()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>


  </ion-content>
</ion-view>
