<!DOCTYPE html>

<ion-view name="boothmap" title="Booth">
  <ion-nav-title>
    <i class="icon ion-location"></i> Booth Detail
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button ng-style="iconColor" class="button button-icon icon ion-ios-navigate-outline" ng-click="toggleGeoLocation()">
    </button>
  </ion-nav-buttons>

  <ion-content animation="slide-right-left" scroll="false">
    <!-- <a href="comgooglemaps://?center=40.765819,-73.975866&zoom=14&views=traffic" ,target="_blank">Click here for map</a> -->
    <div data-tap-disabled="true">
      <leaflet center="auburn" tiles="tiles" url-hash-center="yes" event-broadcast="events" height="480px" markers="markers" width="100vw">
      </leaflet>
    </div>
  <!-- <h4>Longitude: {{long}}</h4>
  <h4>Laditude: {{lat}}</h4> -->
  </ion-content>
</ion-view>
