<!DOCTYPE html>
<ion-view name="events" class="events">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-location" ng-click="go('boothmap')">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <univision-logo></univision-logo>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-map" ng-click="go('pnp')"></button>
  </ion-nav-buttons>

  <ion-content class="has-header has-footer">
    <ion-list can-swipe="listCanSwipe" show-delete="shouldShowDelete">
      <ion-item class="list card" ng-repeat="event in events">
        <div>

          <a ng-click="schedule({{event}})">
            <div class="item item-avatar">
              <i class="icon ion-android-time"></i>
              <h2>Start : {{event.start | date:'HH:mm a'}}</h2>
              <p>
                End: {{event.end | date:'HH:mm a'}}
              </p>
            </div>
          </a>

          <a href="#/events/{{event.id}}">
            <div class="item">
              <h2>{{event.name | limitTo : 27 : 0}}</h2>
              <p>
                {{event.desc | limitTo : 27 : 0}}
              </p>
            </div>
          </a>

                  <!-- <div class="row responsive-sm">
                      <div class="col">
                        <a class="item" ng-click="schedule({{event}})" style="background-color:rgba(0,0,0,0)">
                          <i class="icon ion-android-alarm-clock" ng-click="schedule({{event}})"></i>
                          <h2>{{event.start}}</h2>
                        </a>
                      </div>
                    </div> -->

        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar>

  </ion-footer-bar>
</ion-view>
