<!DOCTYPE html>
<ion-view name="event" class="event" title="{{event.name}}">

  <ion-nav-title>
    <i class="icon ion-play"></i>
    {{event.start | date:'HH:mm a'}}
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-time" ng-click="schedule({{event}})">
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header has-footer">
    <h2 class="event-title">
      {{event.name}}
    </h2>
    <p class="event-description">
      {{event.desc}}
    </p>
  </ion-content>

</ion-view>
