<!DOCTYPE html>
<ion-view name="events" class="events" title="Events">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-title>
    <univision-logo></univision-logo>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-map" ng-click="goToMaps()"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list can-swipe="listCanSwipe" show-delete="shouldShowDelete">
      <ion-item class="list card" ng-repeat="event in events">

        <div class="row" style="border-bottom: 1px solid black">
          <a class="item item-avatar assertive" ng-click="schedule({{event}})">
            <!-- <a ng-click="schedule({{event}})" style="background-color:rgba(0,0,0,0)"> -->
            <i class="icon ion-ios-stopwatch"></i>

            <div>
              <p>{{event.start | date:'HH:mm a'}}</p>
            </div>
          </a>

        </div>

        <a class="event-link" href="#/events/{{event.id}}">
          <div class="item item-avatar">
            <img src="img/event-logo.png">
            <h2 class="">{{event.name}}</h2>
            <p class="">{{event.desc | limitTo : 135 : 0}}</p>
          </div>

        </a>



        <!-- <div class="row responsive-sm">
            <div class="col">
              <a class="item" ng-click="schedule({{event}})" style="background-color:rgba(0,0,0,0)">
                <i class="icon ion-android-alarm-clock" ng-click="schedule({{event}})"></i>
                <h2>{{event.start}}</h2>
              </a>
            </div>
          </div> -->

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
