<!DOCTYPE html>
<ion-view name="maps">
  <ion-header-bar class="bar-light">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="goToSchedule()"></button>
    <img alt="Univision" href="#/schedule" id="logo-img" src="./img/logo.png"/>
<!-- <button class="button button-icon icon ion-android-alarm-clock"></button> -->
  </ion-header-bar>
  <ion-content>
<!-- <a href="comgooglemaps://?center=40.765819,-73.975866&zoom=14&views=traffic" ,target="_blank">Click here for map</a> -->
    <leaflet center="auburn" event-broadcast="events" height="480px" markers="markers" width="100%"></leaflet>


</ion-content>
</ion-view>
