<!DOCTYPE html>

<ion-view name="pnp" title="PnP">
  <ion-nav-buttons side="left">
    <a nav-direction="back" ng-href="#/events">
      <button class="button icon-left button-clear ion-ios-arrow-left">
        Back
      </button>
    </a>
  </ion-nav-buttons>

  <ion-nav-title>
    <i class="icon ion-map"></i> Parking and Parade
  </ion-nav-title>

  <ion-content class="has-header has-footer" has-bouncing="false">

    <leaflet center="auburn" tiles="tiles" url-hash-center="yes" event-broadcast="events" height="100vh" markers="markers" width="100vw">
    </leaflet>

  </ion-content>
</ion-view>
